<div class="toolbar" role="banner">
 </div>

<div class="content" role="main">

<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h1 class="text-center">Variação de Ativos</h1>
      
      <div class="form-group">
        <label for="valorCredito">Valor do Crédito</label>
        <input type="text" class="form-control" id="valorCredito" [(ngModel)]="credito.valorCredito">
      
        <label for="tipoCredito">Tipo de Crédito</label>
        <select [(ngModel)]="credito.tipoCredito" name="SelectTipoCredito" id="SelectTipoCredito"
            #SelectTipoCredito="ngModel" class="form-select">
            <option value="" selected>Selecione</option>
            <option value="CREDITO_DIRETO" >Crédito Direto</option>
            <option value="CREDITO_CONSIGNADO" >Crédito Consignado</option>
            <option value="CREDITO_PESSOA_FISICA" >Crédito Pessoa Jurídica</option>
            <option value="CREDITO_PESSOA_JURIDICA" >Crédito Pessoa Física</option>
            <option value="CREDITO_IMOBILIARIO" >Crédito Imobiliário</option>
          </select>
      
        <label for="qtdParcelas">Quantidade de Parcelas</label>
        <input type="text" class="form-control" id="qtdParcelas" [(ngModel)]="credito.qtdParcelas">
      
        <label for="dataPrimeiroVencimento">Data Primeiro Vencimento</label>
        <input type="text" class="form-control" id="dataPrimeiroVencimento"[(ngModel)]="credito.dataPrimeiroVencimento" bsDatepicker #datepicker="bsDatepicker">
      
      <br/>
      <br/>
        <app-btn-com-load 
           [disabled]="credito.valorCredito == 0 || credito.valorCredito == undefined ||
                       credito.tipoCredito == '' || credito.tipoCredito == undefined ||
                       credito.qtdParcelas == 0 || credito.qtdParcelas == undefined ||
                       credito.tipoCredito == '' || credito.tipoCredito == undefined"
           (clickEvent)="obterLinhaDeCredito()"
           [loading]="loadingBtn"
           textIdle="Buscar"
           textLoad="Buscando...">
        </app-btn-com-load> 
        <br/>
      </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Status Credito</th>
              <th>Valor Dos Juros</th>
              <th>Valor Total Com Juros</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ dadosresult.statusCredito }}</td>
              <td>R${{ dadosresult.valorDosJuros }}</td>
              <td>R${{ dadosresult.valorTotalComJuros }}</td>
            </tr>
          </tbody>
        </table> 


      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted"><p class="copyright text-muted small">
        ©2023 - Guide - Todos os direitos reservados.
    </div>
  </footer>

</div>

<router-outlet></router-outlet>
